<nav class="navbar navbar-default gradientNav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand whiteText" routerLink="">Zappy Corp</a>
    </div>
  </div>
</nav>



<div class="container" style="min-height: 800px;">
  <router-outlet></router-outlet>
</div>